.right {
float: right;
}

.orange {
background-color: #ff6e34;
}

.green {
background-color: #53b77c;
}

.title.orange {
background-color: #ff6e34;
}

.title.green {
background-color: #53b77c;
}

input[disabled=disabled],
input[disabled=disabled]:hover {
background-color: lightgrey;
border-color: grey;
}

div.info,
form.delete,
div.edit {
margin: 1em 0 0 0;
}

div.edit label {
margin: 0 0 1em 0;
display: block;
}

div.edit select,
div.edit textarea,
div.edit input {
margin: 0.2em 0 0 0;
display: block;
min-width: 25em;
}

div.edit textarea {
width: 40em;
height: 15em;
}

div.edit input.form-submit {
margin: 1em 0 0 0;
min-width: 5em;
}

div.details {
margin: 1em;
border-top: 1px dashed lightgrey;
}

ul.programs,
ul.applications {
margin: 0 0 0 1em;
padding: 0;
}

ul.programs li.program,
ul.applications li.application {
list-style: none;
border-bottom: 1px dashed lightgrey;
padding: 0 0 3em 0;
}

div.menu-name-primary-links ul.menu li.leaf {
margin: 0 0 6px 0;
}

ul.menu.my li.first {
margin: 3px 0 6px 0;
border-bottom: 1px solid grey;
font-weight: bold;
}

ul.menu.my li.first a {
border: 0;
}

div.actions {
display: inline-block;
float: right;
}

div.program {
margin: 1em 0 0 0;
}

div.program h2.title {
border-bottom: 2px solid grey;
}

div.deadline {
margin: 1em 0 1em 0;
text-decoration: underline;
}

div.deadline span {
font-weight: bold;
}

ul.toolbar {
margin: 1em 0 0 0;
padding: 0;
}

ul.toolbar li {
list-style: none;
display: inline-block;
margin: 0 2em 0 0;
}

div.application {
margin: 1em 0 0 0;
}

div.instruction {
margin: 1em 0 2em 0;
text-align: justify;
}

div.edit input#multiple {
display: inline;
margin: 0 1em 0 0;
}

div.edit label[for=multiple] {
display: inline;
}

div.edit h2.title {
margin: 1em 0 1em 0;
}

div.application div.plan {
border-bottom: 1px dashed lightgrey;
margin: 1em 0 1em 0;
}

div.application div.program {
margin: 0 0 1em 0;
font-weight: bold;
}

div.brief h3 {
text-decoration: underline;
}

div.brief div.submitted {
margin: 0 0 1em 0;
}

div.brief .submitter {
font-weight: bold;
}

ul.status {
padding: 0;
margin: 0;
}

ul.status li {
list-style: none;
display: inline-block;
margin: 0 3em 0 0;
}

div.state {
margin: 1em 0 1em 0;
}

div.state span {
padding: 5px;
}

.title span {
padding: 10px;
background-color: #ff6e34;
}

span.pending {
background-color: #ff6e34;
}

span.approved {
background-color: #53b77c;
}

span.moreinfo {
background-color: #50c3e6;
}

span.cancelled {
background-color: #e3038d;
}

span.denied {
background-color: red;
}

div.promo {
padding: 4px 4px 10px 4px;
margin: 1em 0 3em 0;
border-bottom: 8px solid #e3038d;
}

div.latest {
width: 250px;
padding: 10px;
display: inline-block;
vertical-align: top;
}

div.closing {
width: 250px;
padding: 10px;
display: inline-block;
vertical-align: top;
}

ul.closing {
margin: 1em 0 0 0.5em;
padding: 0;
}

ul.closing li {
list-style: none;
border-bottom: 1px dashed lightgrey;
padding: 0 0 1em 0;
}

div.section div.provider{
margin: 1em 0 0 0;
}

div.device div,
div.provider div {
margin: 0 0 1em 0;
}

div.provider div.summary {
margin: 1em 0 1em 0;
text-align: justify;
}

div.device div.description {
margin: 1em 0 1em 0;
text-align: justify;
}

a.label,
div.label {
font-weight: bold;
margin: 0 0 0.5em 0;
}

div.application div.submitter,
div.application div.provider {
margin: 1em 0 0 0;
}

div.application .reason {
margin: 1em 0 0 0;
}

div.application div.briefing,
div.provider div.briefing,
div.program div.briefing {
margin: 1em;
}

div.description {
margin: 1em 0 1em 0;
}
